#formtable, th, td{
    border: solid;
    padding: 10px;
}

button{
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    width: 150px;
    border-radius: 5px;
}

#error{
    color: red;
}